/* Heavily based on Pygments' colorful style. */

@import 'base-code.css';

.highlight a {
    text-decoration-style: dotted;
    text-decoration-color: lightgray;
}

.highlight a.nv, .highlight a.vi, .highlight a.vc, .highlight a.nn {
    text-decoration-style: dotted;
    text-decoration-color: #e7e7e7;
}

.highlight { background: #ffffff; }
.highlight .decl { font-weight: bold; }
.highlight .def { font-weight: 900; }
.highlight .hll, .highlight *:target { background-color: #ffffcc }

.highlight .c { color: #888888 } /* Comment */
.highlight .err { color: #FF0000; background-color: #FFAAAA } /* Error */
.highlight .k { color: #008800 } /* Keyword */
.highlight .o { color: #333333 } /* Operator */
.highlight .ow { color: #004400 } /* Operator.Word */
.highlight .ch { color: #888888 } /* Comment.Hashbang */
.highlight .cm { color: #888888 } /* Comment.Multiline */
.highlight .cp { color: #557799 } /* Comment.Preproc */
.highlight .cpf { color: #888888 } /* Comment.PreprocFile */
.highlight .c1 { color: #888888 } /* Comment.Single */
.highlight .cs { color: #cc0000 } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080 } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #c65d09 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080 } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #006600 } /* Keyword.Constant */
.highlight .kd { color: #339966 } /* Keyword.Declaration */
.highlight .kn { color: #008800 } /* Keyword.Namespace */
.highlight .kp { color: #003388 } /* Keyword.Pseudo */
.highlight .kr { color: #008800 } /* Keyword.Reserved */
.highlight .kt { color: #333399 } /* Keyword.Type */
.highlight .m { color: #6600EE } /* Literal.Number */
.highlight .s { background-color: #fff0f0 } /* Literal.String */
.highlight .na { color: #0000CC } /* Name.Attribute */
.highlight .nb { color: #007020 } /* Name.Builtin */
.highlight .nc { color: #BB0066 } /* Name.Class */
.highlight .no { color: #003366 } /* Name.Constant */
.highlight .nd { color: #555555 } /* Name.Decorator */
.highlight .ni { color: #880000 } /* Name.Entity */
.highlight .ne { color: #FF0000 } /* Name.Exception */
.highlight .nf { color: #0066BB } /* Name.Function */
.highlight .nl { color: #997700 } /* Name.Label */
.highlight .nn { color: #0e84b5 } /* Name.Namespace */
.highlight .nt { color: #007700 } /* Name.Tag */
.highlight .nv { color: #996633 } /* Name.Variable */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #6600EE } /* Literal.Number.Bin */
.highlight .mf { color: #6600EE } /* Literal.Number.Float */
.highlight .mh { color: #005588 } /* Literal.Number.Hex */
.highlight .mi { color: #0000DD } /* Literal.Number.Integer */
.highlight .mo { color: #4400EE } /* Literal.Number.Oct */
.highlight .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
.highlight .sc { color: #0044DD } /* Literal.String.Char */
.highlight .sd { color: #DD4422 } /* Literal.String.Doc */
.highlight .s2 { background-color: #fff0f0 } /* Literal.String.Double */
.highlight .se { color: #666666; background-color: #fff0f0 } /* Literal.String.Escape */
.highlight .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
.highlight .si { background-color: #eeeeee } /* Literal.String.Interpol */
.highlight .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
.highlight .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
.highlight .s1 { background-color: #fff0f0 } /* Literal.String.Single */
.highlight .ss { color: #AA6600 } /* Literal.String.Symbol */
.highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #336699 } /* Name.Variable.Class */
.highlight .vg { color: #dd7700 } /* Name.Variable.Global */
.highlight .vi { color: #3333BB } /* Name.Variable.Instance */
.highlight .il { color: #0000DD } /* Literal.Number.Integer.Long */
